body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.task {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

h4 {
    font-size: 18px;
}

button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #005fa3;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

#heading {
    transition: background-color 2s, color 2s, font-weight 2s;
}

.task1 {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
.btn {
    margin: 10px;
}
.input {
    width: 20%;
}
#login {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#submit-btn {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.task2 {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.task3 {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px; }

.task4 {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px; }

#boxs {
    position: relative;
    height: 200px;
    width: 200px;
}
#blue-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #007acc;
}
#red-box {
    position: absolute;
    top: 100px;
    left: 400px;
    height: 40px;
    width: 40px;
    background-color: red;
}
.dark {
    background-color: black;
    color: white;
}
.light {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}